{% extends 'management/base.html' %}
{% block title %}Enrollments{% endblock %}

{% block content %}
<h2>Enrollment List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Student</th>
            <th>Course</th>
            <th>Enrollment Date</th>
        </tr>
    </thead>
    <tbody>
        {% for enrollment in enrollments %}
        <tr>
            <td>{{ enrollment.student }}</td>
            <td>{{ enrollment.course }}</td>
            <td>{{ enrollment.enrollment_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'enrollment_form' %}">Add New Enrollment</a>
{% endblock %}
